Repository Naman-B-Parlecha/testing, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, frontend, backend

frontend checking
  frontend/index.html
Labels: frontend

dsadsadas
  backend/main.go
Labels: backend

fix
  .github/workflows/labels.yml
Labels: none

dsa
  .github/workflows/xyz.yml
Labels: none

das
  backend/main.go
Labels: backend

das
  .github/workflows/xyz.yml
Labels: none

test
  backend/main.go
Labels: backend

done
  .github/workflows/pr-labeler.yml
  .github/workflows/xyz.yml
Labels: none

fdsdf
  frontend/index.html
Labels: frontend

ndas
  backend/main.go
  frontend/index.css
Labels: frontend, backend

final
  .github/workflows/pr-labeler.yml
Labels: none

Create Thanos.md
  Thanos.md
Labels: Documentation

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

frontend:
- changed-files:
  - any-glob-to-any-file: 'frontend/**/*'
  - any-glob-to-any-file: 'frontend/**/*.js'
  - any-glob-to-any-file: 'frontend/**/*.ts'
  - any-glob-to-any-file: 'frontend/**/*.css'
  - any-glob-to-any-file: 'frontend/**/*.html'

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'
    - any-glob-to-any-file: 'backend/**/*.go'
    - any-glob-to-any-file: 'backend/**/*.py'
